<footer>
  <div class="container-fluid">
    <div class="container">
      <div class="text-center copyright">
        <p>© Maskani - 2021. All Rights Reserved &nbsp; <a class="footer_links #{activeClass}" href="/terms-of-service">Terms of Service</a><a class="footer_links #{activeClass}" href="/privacy-policy">Privacy Policy</a><a class="footer_links #{activeClass}" href="/about">About</a><a class="footer_links #{activeClass}" href="/contact">Contact</a></p>
      </div>
    </div>
  </div>
</footer>
</head>
</html>