{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block header %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/2.2.1/mdb.min.css" rel="stylesheet" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/2.2.1/mdb.min.js"></script>
  {% endblock %}
  {% block body %}{% endblock %}
  {% block footer %}
  <footer>
    <div class="container-fluid">
      <div class="container">
        <div class="text-center copyright">
          <p>© Maskani - 2021. All Rights Reserved &nbsp; <a class="footer_links #{activeClass}"
              href="/terms-of-service">Terms of Service</a><a class="footer_links #{activeClass}"
              href="/privacy-policy">Privacy Policy</a><a class="footer_links #{activeClass}" href="/about">About</a><a
              class="footer_links #{activeClass}" href="/contact">Contact</a></p>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}
</head>

</html>