{% extends 'includes/index.html' %}

{% load static %}
{% block body %} 
<title></title>
<body class="home"></body>
<nav class="navbar align-items-center fixed-top p-2 px-md-5 mb-3 bg-white border-bottom shadow-sm"><a class="navbar-brand" href="/"><img class="brand brandA my-0 mr-md-auto font-weight-normal" src="{% static 'img/logoA.svg' %}"></a>
  <nav class="navbarA my-2 my-md-0 mr-md-3"></nav>
</nav>
<a class="p-3 text-dark" href="/">Home</a><a class="p-3 text-dark" href="/features">Features</a><a class="p-3 text-dark" href="/pricing">Pricing</a><a class="p-3 text-dark" href="/login">Login</a><a class="strong cta_1 p-2 text-light btn btn-primary" href="/signup">Try for free</a>
<div class="equalizer">
</div>

<div class="home_banner container-fluid no-padding"></div>
<section class="home_bannerA jumbotron">
  <div class="container">
    <div class="row justify-content-end clearfix">
      <div class="col-lg-7 col-md-7 col-sm-12">
        <div class="home_banner_headline_wapper">
          <h1>Manage Your Tenants <span>Bila Stress!</span>
            <div class="home_banner_in">
              <h4>Maskani is a rental management application for the busy person. Easily invoice &amp; send receipts to tenants via SMS &amp; Email, and record important tenant information.</h4>
              <h3>Give it a try, it's <span>simple.</span></h3>
            </div>
          </h1>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="home_banner_cta_wrapper">
          <h4 class="titleA">Free for basic use</h4>
          <div class="home_banner_signup_form">
            <form class="homeSignup formA" id="signupForm1" method="POST" action="/auth/signup">
              <div class="form-group">
                <label for="fullName" placeholder="Full Name">Full Name</label>
                <input class="form-control" type="text" id="signupName" placeholder="" required="required" autofocus="autofocus"/>
              </div>
              <div class="form-group">
                <label for="emailAddress" placeholder="Email Address">Email Address</label>
                <input class="form-control" type="email" id="signupEmail" placeholder="" required="required"/>
              </div>
              <div class="form-group">
                <label for="phoneNumber" placeholder="Phone Number">Phone Number</label>
                <input class="form-control" type="number" id="signupPhone" placeholder="" required="required"/>
              </div>
              <div class="form-group">
                <label for="Password" placeholder="Password">Password</label>
                <input class="form-control" type="password" id="signupPass1" placeholder="" required="required"/>
              </div>
              <div class="form-group">
                <label for="Password" placeholder="Confirm Password">Confirm Password</label>
                <input class="form-control" type="password" id="signupPass2" placeholder="" required="required"/>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked"/> I accept the Terms of Service                                                          
                  </label>
                </div>
              </div>
              <div class="form-group">
                <input class="btn btn-primary btn-lg btn-block strong cta_2" type="submit" value="Sign me up!"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
